**/.DS_Store

# Dependencies
/node_modules

# Build output
/dist
/build

# Local Terraform directories
**/.terraform/

# Terraform state files
**/*.tfstate
**/*.tfstate.backup
**/*.tfplan

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
**/.terraformrc
**/terraform.rc
**/.terraform.lock.hcl
**/.terraform.tfstate.lock.info

# Sensitive variable files
*.tfvars
*.tfvars.json

# Ignore plan files
**/*.tfplan

# Optional: Ignore IDE/project files
.idea/
.vscode/
*.swp
